<% include ../partials/header %>
<% include ../partials/sideTopBar.ejs %>

<%= console.log(user) %>
<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card shadow mb-4">
        <div class="card-header py-3 bg-info">
          <h6 class="m-0 font-weight-bold text-white">Submit New Ticket for <span class="text-uppercase"
              style="text-decoration: underline;"><%= project.title %></span></h6>
        </div>
        <div class="card-body">

          <form action="/tickets/<%= project.title %>/create" method="POST">
            <div class="form-group">
              <label for="projectTitle">Ticket Title</label>
              <input type="text" name="title" class="form-control" placeholder="Ticket Title" required>
            </div>
            <div class="form-group">
              <label for="projectDescription">Ticket Description</label>
              <input type="text" name="description" class="form-control" placeholder="Ticket Description" required>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="projectDeveloper">Assigned Developer</label>
                  <select class="custom-select" name="developer" required>
                    <% project.personnel.forEach(dev => { %>
                    <% if (dev.role == 'developer') { %>
                    <option disabled selected value>--Choose a developer--</option>
                    <option value="<%= dev.username %>"><%= dev.username %></option>
                    <% } %>
                    <% }) %>
                  </select>
                </div>
                <div class="form-group">
                  <label for="projectDeveloper">Submitted by</label>
                  <select class="custom-select" name="submitter" disabled>
                    <option value="<%= user.username %>"><%= user.username %></option>
                  </select>
                </div>
                <input type="hidden" name="submitter" value="<%= user.username %>" required>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="projectTitle">Ticket Priority</label>
                  <select class="custom-select" name="priority" required>
                    <option disabled selected value>--Select Priority--</option>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="projectTitle">Ticket type</label>
                  <select class="custom-select" name="ticket_type" required>
                    <option disabled selected value>--Select Type--</option>
                    <option value="Bugs/Errors">Bugs/Errors</option>
                    <option value="Aesthetic">Aesthetic</option>
                    <option value="Feature Request">Feature Request</option>
                    <option value="Technical Issue">Technical Issue</option>
                  </select>
                </div>
              </div>
            </div>
            <input type="hidden" name="project" value="<%= project.title%>" required>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>


<% include ../partials/botSideTopBar.ejs %>
<% include ../partials/footer %>