<% include ../partials/header %>
<% include ../partials/sideTopBar.ejs %>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="/js/dataTables.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 bg-info">
          <h6 class="m-0 font-weight-bold text-white"><%= foundProject.title %></h6>
        </div>
        <div class="card-body">
          <div class="row">
            <h6 class="card-subtitle mb-2 text-muted px-3"><%= foundProject.description %></h6>
            <hr>
          </div>
          <div class="row flex-column flex-lg-row">
            <div class="col-sm-12 col-lg-4">
              <hr>
              <h5 class="card-title order-md-0" style="height: 38px">Personnel <a
                  href="/manageProjectUsers/<%= foundProject.title %>/manageProjectUsers"
                  class="btn btn-primary btn-icon-split ml-5">
                  <span class="icon text-white-50">
                    <i class="fas fa-users"></i>
                  </span>
                  <span class="text">Manage Personnel</span>
                </a></h5>
              <hr>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                  </tr>
                </thead>
                <tbody>
                  <% foundProject.personnel.forEach(user => { %>
                  <tr>
                    <td><%= user.username%></td>
                    <td><%= user.role%></td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
            <div class="col-sm-12 col-lg-8 order-md-1">
              <hr>
              <h5 class="card-title">Tickets <a href="/tickets/<%= foundProject.title %>/create"
                  class="btn btn-primary btn-icon-split ml-5">
                  <span class="icon text-white-50">
                    <i class="fas fa-ticket-alt"></i>
                  </span>
                  <span class="text">Submit a new ticket</span>
                </a></h5>
              <hr>
              <table class="table table-striped" id="ticketTable">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Submitter</th>
                    <th scope="col">Developer</th>
                    <th scope="col">Status</th>
                    <th scope="col">Created At</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <% foundProject.tickets.forEach(ticket => { %>
                  <tr>
                    <td><%= ticket.title %></td>
                    <td><%= ticket.submitter %></td>
                    <td><%= ticket.developer %></td>
                    <td><%= ticket.status %></td>
                    <td><%= moment(ticket.createdAt).format('lll') %></td>
                    <td><a href="/tickets/details/<%= ticket.title %>">More Details</a></td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-4 text-center">
              <h6 class="card-subtitle mb-2 text-muted">Project Created at</h6>
              <%= moment(foundProject.createdAt).format('lll') %>
            </div>
            <div class="col-4 text-center">
              <h6 class="card-subtitle mb-2 text-muted">Project Completed </h6>
              <% if (foundProject.project_completed) { %>
              <i class="fas fa-check-circle text-primary"></i>
              <% } else { %>
              <% } %>
            </div>
            <div class="col-4 text-center">
              <h6 class="card-subtitle mb-2 text-muted">Project Completed at</h6>
              <%= moment(foundProject.completed_date).format('lll') %>
            </div>
          </div>
          <% if (currentUser.role !== 'submitter') { %>
          <hr>
          <div class="row d-flex justify-content-around">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteProjectModal">
              Delete Project
            </button>

            <!-- Modal -->
            <div class="modal fade" id="deleteProjectModal" tabindex="-1" role="dialog"
              aria-labelledby="deleteProjectModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteProjectModalLabel">Delete Project?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you would want to DELETE Project "<%= foundProject.title %>"
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="/projects/delete/<%= foundProject._id %>?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>


            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#completeProjectModal">
              Complete Project
            </button>

            <!-- Modal -->
            <div class="modal fade" id="completeProjectModal" tabindex="-1" role="dialog"
              aria-labelledby="completeProjectModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="completeProjectModalLabel">Complete Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you would want to COMPLETE Project "<%= foundProject.title %>"
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="/projects/complete/<%= foundProject._id %>?_method=PUT" method="POST">
                      <button type="submit" class="btn btn-primary">Complete Project</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#ticketTable').DataTable({
      "lengthMenu": [
        [10, 25, 50, -1],
        [10, 25, 50, "All"]
      ]
    });
  });
</script>


<% include ../partials/botSideTopBar.ejs %>
<% include ../partials/footer %>